// color
$white: #ffffff;
$dark: #333333;
$darker: #222222;
$gray: #E2E2E2;
$lighter-gray: #FCFCFC;
$light-gray: #CCCCCC;
$yellow: #FFB53E;

// font-family
$font-style: 'Lato', sans-serif;

// font-weught
$font-weight-normal: normal;
$font-weight-bold: 700;
$font-weight-black: 900;

// font-size
$font-size-base: 12px;
$font-size-md: $font-size-base+2;  //14
$font-size-lg: $font-size-base+8;  //20
