/* ======= layout ======= */
.container{
    height: 100%;
}
.js-container-active{
    overflow: hidden;
}
main{
    margin: 0 85px;
}
.l-topBlock{
    padding: 50px 0 30px;
    li{
        width: 95px;
        height: 145px;
        border-radius: 5px;
    }
    &__storage{
        li{
            margin-right: 15px;
            border: 2px solid $lighter-gray;
        }
    }
    &__sort{
        li{
            margin-left: 15px;
            background-color: $lighter-gray;
            line-height: 170px;
            text-align: center;
        }
        img{
            width: 35px;
            display: inline-block;
        }
    }
}
.l-gameStatus{
    text-align: center;
    img{
        width: 55px;
    }
    p{
        font-weight: $font-weight-bold;
        margin: 6px 0;
    }
}
.l-cards{
    width: 100%;
    ul{
        width: 95px;
        position: relative;
        margin-bottom: 200px;
    }
    li{
        position: absolute;
        &:hover{
            border: 2px solid $yellow;
            border-radius: 5px;
        }
    }
    img{
        width: 95px;
    }
}
@for $i from 1 through 20{
    .l-cards-#{ $i }{
        top: ($i * 25px) - 25px;
        z-index: $i;
    }
}
nav{
    padding: 20px 0;
    margin: 200px 85px 0 85px;
    border-top: 1px solid $light-gray;
    p{
        font-weight: $font-weight-bold;
        margin-right: 20px;
    }
}
.l-logo{
    border-radius: 50%;
    border: 2px solid $darker;
    text-align: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    img{
        width: 20px;
        height: 20px;
        margin: 8px 0;
    }
}
.l-menu{
    text-align: right;
}
button{
    @include button(120px, 40px, $lighter-gray, $darker);
    border-radius: 50px;
    margin-left: 15px;
    font-weight: $font-weight-black;
}
.l-overlay{
    display: none !important;
    background-color: rgba(34, 34, 34, 0.7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.js-overlay-active{
    display: flex !important;
}
.l-message{
    width: 600px;
    background-color: $white;
    border-radius: 10px;
    padding: 30px;
    &__close{
        text-align: right;
        cursor: pointer;
        i{
            color: $darker;
            font-size: $font-size-lg;
        }
    }
    &__content{
        text-align: center;
    }
    h1{
        font-size: $font-size-lg;
        color: $darker;
        margin: 20px 0;
        font-weight: $font-weight-bold;
    }
    p{
        font-size: $font-size-md;
        margin-bottom: 50px;
    }
    img{
        width: 60px;
    }
}